
/*  pagrindiniai nustatymai, pakeisti galima pagal savo dizaina */

:root {
    --ff-primary: 'PT Sans', sans-serif;
    --ff-secondary: 'Roboto Mono', monospace;

    --ff-reg: 300;
    --fw-bold: 900;

    --clr-white: #fff;
    --clr-grey: #303030;
    --clr-green: green;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

html {
    scroll-behavior: smooth;
}


/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}


.logo {
    max-width: 100px;
}

nav {
    position: fixed;
    background: lightgreen;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: bold;
    font-size: 60px;
    text-decoration: none;
}

.nav__link:hover {
    color: green;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.750turn);
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background-color: green;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


/* Footer */

footer {
    background: green;
    height: auto;
    width: 100vw;
    font-family: sans-serif;
    padding-top: 40px;
    color: black;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
}

.social-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.social-list__item {
    margin: 0 10px;
}

.social-list__link {
    text-decoration: none;
    color: white;
}

.social-list a i {
    font-size: 1.1rem;
}

.social-list a:hover i {
    color: limegreen;
}

.footer-bottom {
    background: lightgreen;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

/* kontaktai */



#wrapper
{
    text-align:center;
    margin:0 auto;
    padding:0;
    width:995px;
    position: relative;
    padding-bottom: 70px;
}

#wrapper h1
{
    margin-top:80px;
    font-size:45px;
    color:#1B4F72;
}
#wrapper h1 p
{
    font-size:18px;
}
#contact_form_div
{
    width:330px;
    margin-left:320px;
    padding:10px;
    background-color:darkolivegreen;
}
#contact_form_div #contact_label
{
    margin:15px;
    margin-bottom:30px;
    font-size:25px;
    font-weight:bold;
    color:white;
    text-decoration:underline;
}
#contact_form_div input[type="text"]
{
    width:230px;
    height:40px;
    border-radius:2px;
    font-size:17px;
    padding-left:5px;
    border:none;
}
#contact_form_div textarea
{
    width:230px;
    height:70px;
    border-radius:2px;
    font-size:17px;
    padding: 5px;
}
#contact_form_div input[type="submit"]
{
    width:230px;
    height:40px;
    border:none;
    border-radius:2px;
    font-size:17px;
    background-color:limegreen;
    border-bottom:3px solid darkslategray;
    color:darkgreen;
    font-weight:bold;
}

@media only screen and (min-width:700px) and (max-width:995px)
{
    #wrapper
    {
        width:100%;
    }
    #wrapper h1
    {
        font-size:30px;
    }
    #contact_form_div
    {
        width:50%;
        margin-left:25%;
        padding-left:0;
        padding-right:0;
    }
    #contact_form_div input[type="text"]
    {
        width:80%;
    }
    #contact_form_div textarea
    {
        width:80%;
    }
    #contact_form_div input[type="submit"]
    {
        width:80%;
    }
}
@media only screen and (min-width:400px) and (max-width:699px)
{
    #wrapper
    {
        width:100%;
    }
    #wrapper h1
    {
        font-size:30px;
    }
    #contact_form_div
    {
        width:60%;
        margin-left:20%;
    }
    #contact_form_div input[type="text"]
    {
        width:80%;
    }
    #contact_form_div textarea
    {
        width:80%;
    }
    #contact_form_div input[type="submit"]
    {
        width:80%;
    }
}
@media only screen and (min-width:100px) and (max-width:399px)
{
    #wrapper
    {
        width:100%;
    }
    #wrapper h1
    {
        font-size:25px;
    }
    #contact_form_div
    {
        width:90%;
        margin-left:5%;
        padding-left:0;
        padding-right:0;
    }
    #contact_form_div input[type="text"]
    {
        width:80%;
    }
    #contact_form_div textarea
    {
        width:80%;
    }
    #contact_form_div input[type="submit"]
    {
        width:80%;
    }
}