html {
    height: 100%;
}
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.125em;
    line-height: 1.6;
    color: snow;

    min-height: 100%;

    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
}

/* header */

header {
    display: block;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-top: 10px;
}

.logo {
    max-width: 100px;
}

nav {
    position: fixed;
    background: lightgreen;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: bold;
    font-size: 60px;
    text-decoration: none;
}

.nav__link:hover {
    color: green;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.700turn);
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background-color: green;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


/* Footer */

footer {
    background: green;
    height: auto;
    width: 100vw;
    font-family: sans-serif;
    color: black;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.social-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.social-list__item {
    margin: 0 10px;
}

.social-list__link {
    text-decoration: none;
    color: white;
}

.social-list a i {
    font-size: 1.1rem;
}

.footer-bottom {
    width: 20vw;
    padding: 1fr;
    text-align: center;
}

.section {
    color: black;
}

/* kontaktai */

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px
}

.container:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}








