body {
    display: grid;
    grid-gap: 10px;
    grid-template-columns:
    1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    grid-template-areas:
    "header header nav nav"
    "main main main aside"
    "footer footer footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}



