.body {
   display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-areas:
            "header header header header"
            "main main main aside"
            "footer footer footer footer"
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

.body {
    display: grid;
    grid-template-columns:
    200px 200px 200px 200px;
    grid-template-rows: 300px 300px;
    grid-template-areas:
    ". header header ."
    "main main . aside"
    ". footer footer .";
}