* {
   border: 1px solid darkgrey;
}

.main {
    display: block;
    padding:20px 40px 5px 10px;

}

.nav a {
    content: " | ";
}

.nav a :last-child::after {
    display: none;
}

.nav {
    display: block;
    align-items: flex-end;
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.header {
    padding: 20px;
    background-color: chocolate;
}







