header {
    display: flex;
    justify-content: space-between;
    background: whitesmoke;
    margin: 25px;
    height: 50px;
}

aside {
    background: whitesmoke;
    float: right;
    margin: 150px;
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 80 px;
}

nav {
    background: blue;
    float: end;
    margin: 25px;
    padding: inherit;
}

main {
    text-indent: 145px;
    display: flex;
    justify-content: left;
    margin: 20px;
    background: whitesmoke;
}

div {
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 80px;
}

main,footer,aside,div,header {
    border: 1px solid darkgrey;
}

footer {
    float: bottom;
    justify-content: left;
