* {
    border: 1px solid darkgrey;
}

html, body, .app {
    height: 100%;
    border: none;
}
html {
    background-color: #e7dddd;
}

body {
    margin: auto;
    width: 80%;
}

.app > * {
    background-color: white;
}

.burger{
    display: none;
}

.burger > div {
    width: 55px;
    height: 5px;
    background-color: black;
    margin: 6px;
}

media only screen and (max-width: 600px)
    burger {
        display: block;
        cursor: pointer;
    }
    header > nav > a {
        display: none;
    }
}

nav > a:hover {
    border: none;
}










