header {
    display: flex;
    justify-content: space-between;
    background: darkred;
    margin: 25px;
    height: 300px;
}

aside {
    background: blue;
    float: left;
    margi: 25px
}

nav {
    background: darkgreen;
    float: left;
    margin: 25px;
}
main {
    text-indent: 145px;
    display: flex;
    justify-content: center;
    margin: 25px;
    background: greenyellow;

}

footer {
    float: bottom;
    justify-content: left;

}

